@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'boowieOtf';
  src: url('../fonts/BOOWIE.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'boowieItalicOtf';
  src: url('../fonts/BOOWIE\ italic.otf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'openSansTtf';
  src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'openSansBoldTtf';
  src: url('../fonts/OpenSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

html {
  min-width: 320px;
  min-height: 535px;
  font-family: 'openSansTtf', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'boowieOtf', 'openSansTtf', sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #fff;
  border: 1px solid #fff;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
}

::-webkit-scrollbar-thumb {
  background-color: #222022;
}